<form method="POST" action="/new">
  <label for="author">From</label>
  <input type="text" name="author" />
  <label for="message">Message</label>
  <input type="text" name="message" />
  <button type="submit">Submit</button>
</form>
